.swiper {
  width: 100%;
  padding-bottom: 2% !important;
}

.swiper-wrapper {
  width: 100vw;
  display: flex;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide-active {
  transition: opacity 1s ease !important;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.2;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(81, 241, 108) !important;
}
