.movie {
  display: inline;
  width: 15vw;
  height: 50vh;
  text-decoration: none;
  * {
    margin: 0;
    padding: 0;
    width: 100%;
    &:not(img, span) {
      opacity: 0;
      color: white;
      position: relative;
      width: 80%;
      margin-left: 10%;
    }
  }

  .movie-img {
    width: 15vw;
    height: 50vh;
    transition: transform 0.6s ease, filter 0.6s ease !important;
  }

  .title {
    bottom: 50vh;
    font-size: 1.2em;
    font-weight: bolder;
    height: 10vh;
  }

  .sub-title {
    bottom: 56.5vh;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    height: 5vh;
  }

  .sort {
    bottom: 58vh;
    font-size: 0.8em;
    height: 5vh;
  }

  .genres {
    bottom: 60vh;
    font-size: 0.8em;
    height: 5vh;
  }

  .required-age {
    bottom: 62vh;
    font-size: 0.8em;
    height: 5vh;
  }
  .release-date {
    bottom: 64vh;
    font-size: 0.8em;
    height: 5vh;
  }

  & > span {
    position: relative;
    margin: 0;
    padding: 0;
    bottom: 35vh;
    color: rgba(255, 255, 255, 0.7);
  }

  .rating-rate {
    color: rgb(81, 241, 108);
    margin-right: 10vh;
  }

  .reservation-rate {
    color: white;
  }

  &:hover {
    .movie {
      transform: translateY(-30px) !important;
      background-color: white;
    }
    .movie-img {
      transform: translateY(-30px) !important;
      filter: brightness(15%);
    }
    & > * {
      opacity: 1;
    }
  }
}
