.home-box {
  position: fixed;
  width: 100%;
  height: 87%;
}

.home-box-login {
  animation: login-to-home 0.8s ease-in-out;
  border: 5px solid rgb(81, 241, 108);
  box-shadow: 0.1em 0.1em 1em 0.2em rgb(81, 241, 108);
  border-radius: 30px;
  & > * {
    display: none;
  }
}

@keyframes login-to-home {
  0% {
    width: 35%;
    height: 75%;
  }
  50% {
    width: 0%;
    height: 0%;
    padding: 0 0;
  }
  100% {
    width: 100%;
    height: 100%;
    padding: 100% 100%;
  }
}
