.map-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.myPos {
  color: white !important;
}

.marker > div {
  background-color: black !important;
}

.place-name {
  color: black;
}

.center-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 0;
  &:focus {
    border: 0;
  }
}
