@import "@sweetalert2/themes/dark/dark.scss";

.animate__fadeInDown {
  animation-duration: 0.4s !important;
}

.animate__fadeOutUp {
  animation-duration: 0.4s !important;
}

.min-toast {
  font-size: 0.9em !important;
  height: 80px !important;
}
