.app-bar {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7%;
  background-color: #000000;
  z-index: 2;
}

.item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  margin-right: 1%;
  width: 10%;
  text-decoration: none;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 20%;
  width: 7%;
  height: 3%;
  background: linear-gradient(
    to left,
    rgba(81, 241, 111, 0.6),
    rgb(81, 241, 111, 0.2)
  );
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.item:hover::after {
  &:not(.active) {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.item-login {
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.active {
  -webkit-text-stroke: 1px rgb(81, 241, 108);
  color: transparent;
  &:focus {
    background-color: black;
  }
}

.fa-circle-user {
  color: white !important;
  font-size: 1.5em;
}
